// Converted from 'PlayfairDisplay-VariableFont_wght' using fontsquirrel
// Webfont: Playfair Display
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfairdisplay.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/playfairdisplay.woff') format('woff'); /* Modern Browsers */
    font-display: auto;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

// Webfont: Playfair Display Italic
@font-face {
    font-family: 'Playfair';
    src: url('fonts/playfairdisplay-italic.woff2') format('woff2'), /* Modern Browsers */
         url('fonts/playfairdisplay-italic.woff') format('woff'); /* Modern Browsers */
    font-display: auto;
    font-style: italic;
    text-rendering: optimizeLegibility;
}

