@use 'colors' as *;
@use 'type';
@use 'headings';
@use 'margin';

// Colors

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: type.$base-size;
  font-family: type.$sans-serif-families;
  line-height: 1.5;
  background-color: $background-dark;
  color: $text-light;
}

p,
li,
h1,
h2,
h3,
h4 {
  // Help prevent overflow of long words/names/URLs
  word-break: break-word;

  // Optional, not supported for all languages
  hyphens: auto;
}

.card {
  width: min(1000px, 94vw);
  margin: 6vw auto 0;
  padding: 3rem 2rem;
  color: $text-dark;
  background-color: $background-light;
}

$minColWidth: 19rem;

.featured {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  .details {
    flex: 2 1 $minColWidth;
  }

  .visual {
    flex: 0 2 $minColWidth;
    img {
      max-width: 100%;
    }
  }
}
